target/
*.jar
*.class
*.dumpstream
*.txt
*.dll
/WebHooke/WebHookeProgramacionCursosDA/nbproject/
/WebHooke/WebHookeGestionUsuariosDA/nbproject/
/WebHooke/WebHookeModalidadesDA/nbproject/
/WebHooke/WebHookePersistencia/nbproject/
*.exe
bin
.vs
obj
.vsidx
*.cache*.dbcache.json
*.suo
*.user
packages
*/packages/*