<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="HookeWeb.SiteMaster" %>

<!DOCTYPE html>
<html lang="es">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/estilo.css" rel="stylesheet" />
    <link href="Content/Fonts/css/all.css" rel="stylesheet" />

    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/bootstrap.bundle.js"></script>
    <script src="Scripts/jquery-3.7.1.js"></script>

    <title>
        <asp:ContentPlaceHolder ID="cphTitulo" runat="server"></asp:ContentPlaceHolder>
    </title>
    <asp:ContentPlaceHolder ID="cphScripts" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="container-fluid d-flex p-0 h-100">
        <!--Menu Lateral-->
        <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-primary text-white offcanvas-md offcanvas-start" style="background-color: #000000 !important;">
            <a href="#" class="navbar-brand">
                <img src="Images/LogoFinal_edited.png" width="70" />
            </a>
            <hr />
            <ul class="mynav nav nav-pills flex-column mb-auto">
                <li class="nav-item mb-1">
                    <a href="Matricula.aspx"><i class="fa-solid fa-building pe-2"></i>
                        Matricula
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="GestionarCurso.aspx"><i class="fa-solid fa-building pe-2"></i>
                        Gestionar Curso
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="ListarProfesores.aspx"><i class="fa-solid fa-people-group pe-2"></i>
                        Listar Profesores
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="GestionarProfesores.aspx"><i class="fa-solid fa-people-group pe-2"></i>
                        Gestionar Profesores
                    </a>
                </li>
            </ul>
            <hr />
            <div class="d-flex">
                <i class="fa-solid fa-book me-2"></i>
                <h6 class="mt-1 mb-0">PUCP - Programación 3</h6>
            </div>
        </div>
        <!--Contenido de la Derecha-->
        <div class="bg-light flex-fill overflow-auto">
            <!-- Barra superior para dispositivos móviles -->
            <div class="p-2 d-md-none d-flex text-white bg-primary">
                <a data-bs-toggle="offcanvas" data-bs-target="#bdSidebar" class="text-white" href="#">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>
            <!-- Barra de Usuario -->   
            <nav class="navbar navbar-dark" style="background-color: #000000;">
                <div class="container-fluid">
                    <a class="navbar-brand d-sm-none d-md-block d-none d-sm-block">
                        ¡Bienvenido a la Academia Hooke!
                    </a>
                    <form class="d-flex">
                        <div class="dropdown ps-3">
                            <button class="btn btn-outline-light dropdown-toggle" id="btnUsuario" data-bs-toggle="dropdown" type="button" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>David Cutisaca
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnUsuario">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
                                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </nav>
            <!-- Contenido -->
            <div class="p-4">
                <form runat="server">
                    <asp:ContentPlaceHolder ID="cphContenido" runat="server"></asp:ContentPlaceHolder>
                </form>
            </div>
        </div>
    </div>   
</body>
</html>